.container-todo{
    max-height: 350px;
    overflow: auto;
    width: 95%;
}

.container-todo input{
    margin-right: 16px;
    height: 100%;
    width: 75%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 10px 0 20px;
    border: 1px solid #999;
}
.task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
    display: flex;
    justify-content: space-around;
}

.task {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.settings {  
    width: 60%; 
    justify-content: space-evenly;
    display: flex;   
}

.task input{
    margin-right: 20px;
}

.task h3{
    width: 85%;
    word-wrap: break-word;
}

.delete-btn{
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #0018a7eb 0%, #f12711 100%);
}

.crossed-line {
    text-decoration: line-through;
}